<!DOCTYPE html>
{% extends 'base.html' %}
{% block body_block %}
<h1>What's happening, {{ user.username }}?</h1>
{% for tweet in tweets %}
<div class="list-group">
  <div class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">
        <a href="{% url 'profile' tweet.user.username %}">@{{ tweet.user.username }}</a>
      </h4>
      <small><a href="{% url 'tweet' tweet.id %}">{{ tweet.date }}</a></small>
    </div>
    <p class="mb-1">>> {{ tweet.body }}</p>
  </div>
</div>
{% empty %}
<p>It looks like there aren't any tweets to display! Why not try <a href="{% url 'compose' %}">writing one</a> or
  following some people?</p>
{% endfor %}
{% endblock  %}