<!DOCTYPE html>
{% extends 'base.html' %}

{% block profile_card_block %}
<div class="col-md-4">
  {% include 'profile_card.html' with data=profile_user change_pic=True %}
</div>
{% endblock %}

{% block body_block %}
<div class="col-md-8">
  {% for tweet in tweets %}
  {% include 'tweet_card.html' with data=tweet comments=tweet.tweetcomment_set.all likes=tweet.like.all %}
  {% empty %}
  <p class="text-white-50">It looks like this user hasn't tweeted anything yet...</p>
  {% endfor %}
</div>
{% endblock  %}