<!DOCTYPE html>
{% extends 'base.html' %}
{% block follow_button %}
<h5 class="card-title">
  {% if profile_user.get_full_name %}
  {{ profile_user.get_full_name }}
  {% else %}
  {{ profile_user.username }}
  {% endif %}
</h5>
<h6 class="card-subtitle mb-2 text-muted">
  <a href="{% url 'profile' profile_user.username %}">@{{ profile_user.username }}</a>
</h6>
<hr>
<p class="card-text">Tweets: {{ num_tweets }}</p>
<p class="card-text">Following: {{ profile_user.following.count }}</p>
{% if user.username != profile_user.username %}
{% if boolean %}
<a href="{% url 'unfollow' profile_user.username %}" class='btn btn-danger'>Unfollow -</a>
{% else %}
<a href="{% url 'follow' profile_user.username %}" class='btn btn-primary'>Follow +</a>
{% endif %}
{% endif %}
{% endblock %}
{% block body_block %}
<h1>Profile: {{ profile_user }}</h1>
{% for tweet in tweets %}
<div class="list-group">
  <div class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1"><a href="{% url 'profile' tweet.user.username %}">@{{ tweet.user.username }}</a></h4>
      <small><a href="{% url 'tweet' tweet.id %}">{{ tweet.date }}</a></small>
    </div>
    <p class="mb-1">>> {{ tweet.body }}</p>
  </div>
</div>
{% empty %}
<p>It looks like this person hasn't tweeted anything...</p>
{% endfor %}
{% endblock  %}