/* :root {
  --bg-dark: #15202b;
  --bg-text: #203741;
  --color-text: #878b87;
}

* {
  background-color: var(--bg-dark);
  color: white;
}

body {
  background-color: var(--bg-dark);
} */

#navbarNav {
  position: absolute;
  right: 0;
}

.img_rounded {
  width: auto;
  height: 100px;
  border-radius: 50%;
  position: relative;
}

.img_inverted {
  transform: rotateY(180deg);
}

.rounded-xl {
  border-radius: 25px;
}

@media (max-width: 575px) {
  #navbarNav {
    position: relative;
    right: auto;
  }
}
