<!DOCTYPE html>
{% extends 'authentication/auth_base.html' %}
{% load static %}
{% block auth_block %}
<div class="modal-dialog modal_auth">
  <div class="modal-content bg-profile">
    <div class="modal-body text-center shadow-lg">
      <div class="text-right">
        <a class="btn close" href="{% url 'auth_home' %}" data-dismiss="modal" aria-label="Close" role="button">
          <span aria-hidden="true">&times;</span>
        </a>
      </div>
      <img class="mb-2" src="{% static 'images/twitter_logo.png' %}" alt="twitter_logo">
      <h5 class="modal-title text-center">Log in</h5>
      <form method='POST'>
        {% csrf_token %}
        <br>
        {{ form.username }}
        <br>
        {{ form.password }}
        <br>
        {% if messages %}
        <div class="alert alert-danger text-left" role="alert">
          {% for message in messages %}
          {{ message }}
          {% endfor %}
        </div>
        {% endif %}
        <input type="submit" class="btn color-btn btn-lg btn-block rounded-pill" value="Log in" />
        <small>New around here? <a href="{% url 'signup' %}">Sign up</a></small>
      </form>
    </div>
  </div>
</div>
{% endblock  %}