<!DOCTYPE html>
{% extends 'authentication/auth_base.html' %}
{% block auth_block %}
<div class='container'>
  <div class="row mt-5">
    <div class="col-6">
      <h1>Welcome to the Twitter clone! Log in to get posting an see what your friends are up to!</h1>
      <p>New around here? <a href="{% url 'signup' %}">Sign up</a></p>
    </div>
    <div class="col-6">
      <form method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Log In">
      </form>
    </div>
  </div>
</div>
{% endblock  %}