<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  {% load static %}
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <title>Twitter Clone - Django</title>
</head>

<body>
  <div class="container">
    {% if user.is_authenticated %}
    <nav class="navbar navbar-expand-sm">
      <a class="navbar-brand m-0" href="{% url 'homepage' %}">
        <img src="{% static 'images/twitter_logo.png' %}" alt="twitter_logo">
        <h3 class="d-inline align-middle text-white-50">ReadyTweet</h3>
      </a>
      <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'homepage' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'compose' %}">Create a Tweet</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'notification' %}">Notifications <span
                class="badge badge-dark">{{ num_notif|default:0 }}</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' user.username %}">Profile</a>
          </li>
          <li class="nav-item">
            {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </nav>
    {% else %}
    <div class="alert alert-twitter row" role="alert">
      <div class="col-md bg-transparent">Twitter clone is Better when you are Logged In</div>
      <div class="col-md-4 bg-transparent text-right"><a href="{% url 'auth_home' %}"
          class="btn color-outline-btn rounded-pill">Log in
          or Sign up</a>
      </div>
    </div>
    {% endif %}

    <div class="row">
      {% block profile_card_block %}
      {% endblock %}
      {% block body_block %}
      {% endblock %}
      {% block follow_block %}
      {% endblock %}
    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
    integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous">
  </script>
</body>

</html>