<!DOCTYPE html>
<div class="card-body">
  <h5 class="card-title">
    {% if person.get_full_name %}
    {{ person.get_full_name }}
    {% else %}
    {{ person.username }}
    {% endif %}
  </h5>
  <h6 class="card-subtitle mb-2 text-muted">
    <a href="{% url 'profile' person.username %}">@{{ person.username }}</a>
  </h6>
  <hr>
  <p class="card-text">Tweets: {{ num_tweets }}</p>
  <p class="card-text">Following: {{ person.following.count }}</p>

  {% if not show_button %}

  {% elif user.is_authenticated and following %}
  <a href="{% url 'unfollow' profile_user.username %}" class='btn btn-danger'>Unfollow -</a>
  {% elif user.is_authenticated and not following %}
  <a href="{% url 'follow' profile_user.username %}" class='btn btn-primary'>Follow +</a>
  {% elif not user.is_authenticated %}
  <a href="{% url 'follow' profile_user.username %}" class='btn btn-primary'>Follow +</a>
  {% endif %}
</div>