<!DOCTYPE html>
{% load static %}
<div class="card rounded-xl bg-profile mb-4">
  <div class="card-header bg-transparent">
    <h3>Profile</h3>
  </div>
  <div class="card-body rounded-xl pt-2">
    <div class="d-flex align-items-center pb-3">
      <img class="rounded-circle profile-avatar" src="{% static 'images/avatar.png' %}" alt="default avatar">
      <div class="pl-2">
        <h5 class="card-title">
          {% if data.get_full_name %}
          {{ data.get_full_name }}
          {% else %}
          {{ data.username }}
          {% endif %}
        </h5>
        <p class="card-subtitle">
          <a href="{% url 'profile' data.username %}">@{{ data.username }}</a>
        </p>
      </div>
    </div>
    <div class="row rounded-xl">
      <div class="col">
        <span class="text-white-50">Tweets</span>
        <span class="d-block h4 font-weight-bolder">{{ num_tweets }}</span>
      </div>
      <div class="col">
        <span class="text-white-50">Following</span>
        <span class="d-block h4 font-weight-bolder">{{ data.following.count }}</span>
      </div>
    </div>

  </div>


  {% if user.is_authenticated %}

  {% if user.username == profile_user.username or not profile_user%}
  {% else %}
  <div class="card-footer mx-auto">
    {% if following %}
    <a href="{% url 'unfollow' profile_user.username %}" class='btn btn-danger rounded-pill px-5 py-2'>Unfollow -</a>
    {% else %}
    <a href="{% url 'follow' profile_user.username %}" class='btn color-btn rounded-pill px-5 py-2'>Follow +</a>
    {% endif %}
  </div>
  {% endif %}

  {% else %}

  <div class="card-footer mx-auto">
    <a href="{% url 'follow' profile_user.username %}" class='btn color-btn rounded-pill px-5 py-2'>Follow +</a>
  </div>

  {% endif %}

</div>